<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool pet made with HTMLPet" />

    <title>htmlpet menu</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/pet.js" defer></script>

    <style>
      background: "https://";
    </style>
  </head>
  <body>
    <header>
      <h1>htmlpet</h1>
    </header>

    <main>
      <p id="loading">
        please wait... your pet is getting ready...
      </p>
      <p id="name">
        hrm. looks like the pet is gone or corrupted.<br /><button onclick="document.location.href = '/'">
        Make a new one
        </button>
      </p>
      <div id="petdata">
        <p id="status">Hello!! We'll be great friends \(￣︶￣*\))</p>
        <div id="buttons">
          <div id="awake">
            <button id="bread" onclick="feed()">🍞</button>
            <button id="break" onclick="takeBreak()">🚽</button>
            <button id="sleep" onclick="sleep()">🛏⬅</button>
          </div>
          <div id="asleep" style="display:none;">
            <button id="awaken" onclick="awaken()">🛏➡</button>
          </div>
          <br /><br />
          <button
            id="murder"
            onclick="killpet()"
            style="background-color: red;"
          >
            🔪😭
          </button>
        </div>
      </div>
    </main>

    <footer>
      Powered by <a href="https://glitch.com">Glitch</a><br />Made with ❤ (by
      Vuk and HelloBoi)
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
